/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* CONTENIDO */
main {
    margin-top: 84px;
}

/* MENU */
.menu {
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;
    color: #55565A;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
}

.menu-container {
    margin: 0 10px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    margin: 0px;
}

.menu-logo {
    padding: 5px;
}

.menu-nav__item {
    display: inline-block;
    padding: 0 15px;
}

.menu-nav__item-link {
    color: #55565A;
    padding-bottom: 5px;
}

.menu-nav__item-link:hover {
    color: #55565A;
    border-bottom: 1px solid #55565A;
    opacity: .6;
}

/* CONTENIDO */
.container {
    padding: 0;
}

.title {
    background-color: rgba(85, 86, 90, 0.8);
    color: white;
    font-size: 18px;
    padding: 10px 0;
    margin: 10px 0;
}

h4 {
    font-size: 20px;
    margin: 0;
}

.row {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
}