<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
    <title>Editora de Gobierno</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-full">
        <div class="card">
            <h2 class="text-center">Olvidé mi contraseña</h2>
            <form action="" id="formForgot">
                <div class="form-group">
                    <label for="emailInput">Número de trabajador:</label>
                    <input type="number" id="emailInput" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="passInput">Correo:</label>
                    <input type="email" id="passInput" class="form-control" required>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-secondary btn-block" value="Recuperar mi contraseña">
                </div>
                <div class="row justify-content-center">
                    <a href="./index.html">Inicio de sesión</a>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/forgot.js"></script>
</body>
</html>