<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
    <title>Editora de Gobierno</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="menu">
            <div class="menu-container">
                <span class="menu-logo">Editora de Gobierno</span>
    
                <ul class="menu-nav d-none d-md-block">
                    <li class="menu-nav__item">
                        <a href="./home.html" class="menu-nav__item-link">Inicio</a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="./registro.html" class="menu-nav__item-link">Registro</a>
                    </li>
                     <li class="menu-nav__item">
                        <a href="./modificacion.html" class="menu-nav__item-link">Modificación</a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="./consulta.html" class="menu-nav__item-link">Consulta</a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="./hemeroteca.html" class="menu-nav__item-link menu-nav__item-link__active">Hemeroteca</a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="./index.html" class="menu-nav__item-link">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <form action="">
                <div class="container">
                    <div class="row justify-content-center title">
                        <h4>Datos de gaceta</h4>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center title">
                        <h4>Recepción</h4>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-4">
                            <div class="form-group">
                                <button type="reset" class="btn btn-danger btn-block btn-lg">Limpiar</button>
                            </div>
                        </div>
                        <div class="col-10 col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block btn-lg">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>